* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body,
input {
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 16px 0;
    background-color: rgb(12, 15, 17);


}
header nav li {
    display: inline;
    margin-left: 16px;
    font-weight: 700;
}

header nav li a {
    text-decoration: none;
    color: #e6e7e7;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    max-width: 160px;
}

/* barra de pesquisa */

#cards {
    padding: 15%;
    display: block;
    align-items: center;
    justify-content: space-between;
    background-image: url(./img/wallpapersden.com_aurelia-magic-the-gathering_1920x1200.jpg);
}


h2 {
    font-size: 36px;
    font-weight: 900;
}


.search {
text-align: center;
font-weight: lighter;
}

#cards .search {
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 15px;
}

.search form input {
    width: 320px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 8px;
    border-radius: 20px;
}

.search form button {
    background-color:orangered;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 35px;
    padding: 8px;
    border-radius: 20px;
}

.search form button:hover {
    background-color: rgb(211, 99, 58);
}

/*collections*/

.container {
width: 1366px;
margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.articles article {
    width: 30%;
}

section{ 
    padding: 16px 0;
}


.articles article h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    text-align: center;
}

.articles article p {
    text-align: center;
}

.articles article a {
padding: 12px;
display: inline-block;
text-decoration: none;
font-weight: lighter;
margin-top: 24px;
}


.articles article h3{
    font-size: 24px;
}



section h2 {
    font-size: 32px;
    color: orangered;
}

#collection {
    background-color: rgba(0, 0, 0, 0.116);
}

#collection .articles article a {
    background-color: rgba(122, 120, 120, 0.158);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 5px 0 5px 0 #00000063;
    cursor: pointer;

}

.img-container{
    overflow: hidden;
    border: 2px none;
}
.img-container img{
    width: 90%;
    height: 90%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.img-container:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.03);
    }

    #collection .articles article a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.03);
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    }

#noticias {
    background-color: rgba(255, 255, 255, 0.795);
    }

#noticias .articles article a {
    background-color: rgb(184, 184, 184);
    color: #353535;
}
#noticias .articles article a:hover {
    background-color: rgb(58, 58, 58);
    color: #e6e7e7;
}




footer {
    background-color: #1a1a1a;
    color: #ecf0f1;
    padding: 16px 0;
}


.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right:  8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}


.contact-methods {
    display: flex;
    justify-content: space-between;
}

.contact-methods input,
.contact-methods textarea,
.contact-methods button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

#contactform button {
    background-color: orangered;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(141, 39, 2);
}

input:focus, textarea:focus {
    outline-color: #be340a;
}

footer {
    background-color: rgb(12, 15, 17);
    color: #ecf0f1;
    padding: 16px 0;
}